/* 
    Created on : 27 мая 2021 г., 12:08:42
    Author     : Alekhnovich Oleg (http://web-platinum.net)
*/

/*MAIN CSS*/
#editorWYSIWYG {
    
}

#editorWYSIWYG a {
    color: #00407f;
}
#editorWYSIWYG .text-blue {
    color: #00407f !important;
}
#editorWYSIWYG .bg-blue {
    background-color: #73b3d7;
}
#editorWYSIWYG .bg-dark-blue {
    background-color: #00407f;
}

/*MAIN CONTENT*/
#editorWYSIWYG .list-modern {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}
#editorWYSIWYG .list-modern-item {
    list-style-type: none;
    padding: .50rem .70rem;
    border-bottom: 1px solid rgba(0,0,0,.125);
}
#editorWYSIWYG .btn-primary {
    background-color: #00407f;
    border-color: #00407f;
}
/* Page navigation Pagination & Breadcrumb */
#editorWYSIWYG .page-link {
    color: #777;
}
#editorWYSIWYG .page-link:hover {
    color: #000;
}
.page-item.active .page-link {
    color: black;
    background-color: whitesmoke;
    border-color: whitesmoke;
}
#editorWYSIWYG .breadcrumb {
    background-color: whitesmoke;
    font-size: .8rem;
}
#editorWYSIWYG .breadcrumb a {
    color: #000;
}
#editorWYSIWYG .breadcrumb-item + .breadcrumb-item::before {
    color: #6c757d;
    content: "|";
}
#editorWYSIWYG .breadcrumb-item.active {
    color: #444;
}
#editorWYSIWYG .sale1 {
    padding: 4px 10px 4px 10px;
    position: absolute;
    top: 0px;
    left: -7px;
    background-color: #dc3545;
    color: #fff;
    text-transform: uppercase;
}
#editorWYSIWYG .sale2 {
    padding: 4px 10px 4px 10px;
    position: absolute;
    top: 0px;
    left: 10px;
    background-color: #dc3545;
    color: #fff;
    text-transform: uppercase;
}

#editorWYSIWYG .form-control {
    color: #fff;
    height: calc(2em + .75rem + 2px);
    border: 1px solid #1467b8;
    background-color: #004e9a;
}
#editorWYSIWYG .form-control:focus {
    color: #fff;
    border: 1px solid #1467b8;
    background-color: #004e9a;
}

#editorWYSIWYG input[type="number"]::-webkit-outer-spin-button,
#editorWYSIWYG input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

#editorWYSIWYG input[type='number'],
#editorWYSIWYG input[type="number"]:hover,
#editorWYSIWYG input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}
#editorWYSIWYG .bg-vrach {
    min-height: 250px;
    background-image: url('../images/pages/vrach-oas.jpg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}
#editorWYSIWYG .section-2 {
    width: 100%;
    background-image: url('../images/pages/bg-dostavka.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#editorWYSIWYG .section-2-transparent-bg {
    background: white; /* Для работы в IE7 */
    background: rgba(0, 64, 127, 0.7); /* Цвет фона и значение прозрачности */
    color: #00407f; /* Цвет текста */
}

/*YOUTUBE OPTIMIZATION*/
#editorWYSIWYG .youtube {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}
#editorWYSIWYG .youtube .play {
    background: url('../images/youtube-play-btn.png') no-repeat;
    background-position: 0 -50px;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    position: absolute;
    height: 50px;
    width: 69px;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}
#editorWYSIWYG .youtube:hover .play {
    background-position: 0 0;
}
