/* 
    Created on : 10.11.2020, 09:23:00
    Author     : Alekhnovich Oleg (http://web-platinum.net)
*/



body {
    font-family: 'Roboto', sans-serif;
    font-size: 20;
}

a {
    color: #ffffff; /* Цвет обычной ссылки */
    padding: 2px; /* Поля вокруг текста */
   }
   a:visited {
    color: #f39200; /* Цвет посещенной ссылки */
   } 
   a:hover {
    text-decoration: none; /* Убираем подчеркивание */
    color: #f39200 /* Цвет ссылки при наведении на нее курсора мыши */  
  
   }


.sec a {
    color: #000000; /* Цвет обычной ссылки */
    padding: 2px; /* Поля вокруг текста */
   }
.sec a:visited {
    color: #f39200; /* Цвет посещенной ссылки */
   } 
.sec a:hover {
    text-decoration: none; /* Убираем подчеркивание */
    color: #f39200 /* Цвет ссылки при наведении на нее курсора мыши */  
     }


.sec2 a {
        color: #ffffff; /* Цвет обычной ссылки */
        padding: 2px; /* Поля вокруг текста */
       }
.sec2 a:visited {
        color: #ffffff; /* Цвет посещенной ссылки */
       } 
.sec2 a:hover {
        text-decoration: none; /* Убираем подчеркивание */
        color: #f39200 /* Цвет ссылки при наведении на нее курсора мыши */  
         }


.sec-3 a {
            color: #000000; /* Цвет обычной ссылки */
            padding: 2px; /* Поля вокруг текста */
           }
.sec-3 a:visited {
            color: #000000; /* Цвет посещенной ссылки */
           } 
.sec-3 a:hover {
            text-decoration: none; /* Убираем подчеркивание */
            color: #f39200 /* Цвет ссылки при наведении на нее курсора мыши */  
             }

.text-blue {
    color: #00407f !important;
}
.bg-blue {
    background-color: #73b3d7;
}
.bg-dark-blue {
    background-color: #00407f;
}
.bg-dark-orange {
    background-color: #f39200;
}
.bg-foot {
    background-color: #3a3a38
}
.menu-transparent {
    background-color: transparent;
}
.navbar {
    background-color: rgba(255,255,255,0.5);
}

.bg-grey-faq {
    background-color: #d8d8d7;
}
.text-banner-down { /* цвет самого баннера  */
    display: flex;
    align-items: flex-end;
    font-family: 'Roboto', sans-serif;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    background-color: rgba(46,46,46,0.4);
 
}

@media screen and (min-width: 801px) {
  
        .transparent-bg { /*затемнение всей картинки */
            position: absolute; 
            left:0;
            right:0;
            top:0;
            bottom:0;
            padding-top: 25%;
            padding-left: 15%;
            padding-right: 15%;
            background: rgba(0, 0, 0, 0); /* Для работы в IE7 */
            background: rgba(156, 156, 156, 0); /* Цвет фона и значение прозрачности */
            color: rgba(0, 0, 0, 0); /* Цвет текста */
        }
}

@media screen and (max-width: 800px)  {
  
        .transparent-bg { /*затемнение всей картинки */
            position: absolute; 
            left:0;
            right:0;
            top:0;
            bottom:0;
            padding-top: 60%;
            padding-left: 1%;
            padding-right: 1%;
            background: rgba(0, 0, 0, 0); /* Для работы в IE7 */
            background: rgba(156, 156, 156, 0); /* Цвет фона и значение прозрачности */
            color: rgba(0, 0, 0, 0); /* Цвет текста */
            font-size: 0.9rem;
            /* line-height: 1.2; */
        }
}











.text-red1 {
    background-color: #f50000!important;
    color: #fff!important;
}

.section-san {
    margin-top: -15rem;
    margin-left: 15rem;
}

.san-10 {
    margin-top: 10rem;
  
}

.san-10 {
    margin-bottom: 10rem;
 
}



h2 {
    color: #f39200;
    font-family: 'Roboto', sans-serif;
}





.text-sanigo {
    color: #f39200;
    font-family: 'Roboto', sans-serif;
}
.text-sanigo-main {
    color: #551212;
    font-family: 'Roboto', sans-serif;
}
.text-sanigo-main-2 {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}



.bg-sanigo-2 {
    background: linear-gradient(rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)),
     url('../images/pages/Sanigo-Main-2.webp');


 
}
.bg-sanigo-3 {
    background: linear-gradient(rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)),
     url('../images/pages/sanigo-3.webp');




  
}

.first-banner {
    background-color: rgba(255,255,255,0.5);
    background-image: url('../images/pages/Sanigo-Main-2.webp');
  
}

.logo {
    width: 177px;
    height: 91px;
}
h1 {
    font-size: 2rem;
}
@media (min-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }
}

/*JUMBOTRON*/
.jumbotron {
    position: relative;
    color: #f39200;;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.jumbotron-transparent {
    position: absolute; 
    left:0;
    right:0;
    top:0;
    bottom:0;
    background: rgba(0, 0, 0, 0); /* Для работы в IE7 */
    background: rgba(255, 255, 255, 0); /* Цвет фона и значение прозрачности */
    color: #003f7f00; /* Цвет текста */
}
.jumbotron-content {
    position: relative;
}

/* CUSTOMIZE THE CAROUSEL*/
.carousel {
    margin-bottom: 0rem;
    height: 100%;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    bottom: 4rem;
    z-index: 10;
}
.carousel-caption h1 {
    font-size: 1.4rem;
    line-height: 1.2;
}
.carousel-caption .h1 {
    font-size: 1.4rem;
    line-height: 1.2;
}
/* Declare heights because of positioning of img element */
.carousel-item {
    height: 37rem;
    background-color: #777;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width: 768px) {
    .carousel-caption h1 {
        font-size: 2.4rem;
        line-height: 1.2;
    }
    .carousel-caption .h1 {
        font-size: 2.4rem;
        line-height: 1.2;
    }
    .carousel-item {
        height: 40rem;
    }
}

/*MAIN CONTENT*/
.note-video-clip {
    width: 100% !important;
    height: 260px !important;
}
@media (min-width: 390px) {
    .note-video-clip {
        width: 100% !important;
        height: 320px !important;
    }
}
@media (min-width: 576px) {
    .note-video-clip {
        width: 400px !important;
        height: 230px !important;
    }
}
@media (min-width: 768px) {
    .note-video-clip {
        width: 640px !important;
        height: 360px !important;
    }
}
@media (min-width: 1200px) {
    .note-video-clip {
        width: 640px !important;
        height: 360px !important;
    }
}
.list-modern {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}
.list-modern-item {
    list-style-type: none;
    padding: .50rem .70rem;
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.btn-primary {
    background-color: #f39200;
    border-color: #ff9900;
}
/* Page navigation Pagination & Breadcrumb */
.page-link {
    color: #777;
}
.page-link:hover {
    color: #000;
}
.page-item.active .page-link {
    color: black;
    background-color: whitesmoke;
    border-color: whitesmoke;
}
.breadcrumb {
    background-color: whitesmoke;
    font-size: .8rem;
}
.breadcrumb a {
    color: #000;
}
.breadcrumb-item + .breadcrumb-item::before {
    color: #6c757d;
    content: "|";
}
.breadcrumb-item.active {
    color: #444;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

.form-control {
    color: #fff;
    height: calc(2em + .75rem + 2px);
    border: 1px solid #6d6d6d;
    background-color: #cacaca;
}
.form-control:focus {
    color: #fff;
    border: 1px solid #1467b8;
    background-color: #f3920077;
}
textarea {
    height: calc(4em + 2rem + 4px)!important;
}
input::-webkit-input-placeholder {
    color: white !important;
    text-transform: uppercase;
}
input:-moz-placeholder { /* Firefox 18- */
    color: white !important;
    text-transform: uppercase;
}
input::-moz-placeholder {  /* Firefox 19+ */
    color: white !important;
    text-transform: uppercase;
}
input:-ms-input-placeholder {  
    color: white !important;  
    text-transform: uppercase;
}

textarea::-webkit-input-placeholder {
    color: white !important;
    text-transform: uppercase;
}
textarea:-moz-placeholder { /* Firefox 18- */
    color: white !important;
    text-transform: uppercase;
}
textarea::-moz-placeholder {  /* Firefox 19+ */
    color: white !important;
    text-transform: uppercase;
}
textarea:-ms-input-placeholder {  
    color: white !important;
    text-transform: uppercase;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}
.bg-vrach {
    min-height: 250px;
    background-image: url('../images/pages/vrach-oas.jpg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}
.section-2 {
    width: 100%;
    background-image: url('../images/pages/bg-dostavka.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.section-2-transparent-bg {
    background: white; /* Для работы в IE7 */
    background: rgba(0, 64, 127, 0.7); /* Цвет фона и значение прозрачности */
    color: #00407f; /* Цвет текста */
}

/*FOOTER*/
footer {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: #ececf6;
}
footer a {
    color: #444;
}
footer a:hover {
    color: #b85e5e;
}

/* CART */
#cart a {
    color: #fff!important;
}
.cart-body {
    font-size: .8rem;
    padding: .8rem;
    min-width: 230px;
}
#cartModal {
    z-index: 1110!important;
}
#cart-items-quantity {
    font-size: .8rem;
}
.bi-bag-fill {
    width: 1.4em;
    height: 1.4em;
    margin-bottom: .8rem;
}
#productAddedModal {
    z-index: 1100!important;
}
.table-checkout {
    font-size: .8rem;
}

/* SUBMENU 3 LEVEL */
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: .8em;
}
.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
}

/* CSS3 EFFECTS */
.fade-rec {
    -webkit-transition: all 0.3s ease;;
  -moz-transition: all 0.3s ease;;
  -o-transition: all 0.3s ease;;
  transition: all 0.3s ease;
  opacity: 1;
}
.fade-rec:hover {
    -webkit-transition: all 0.3s ease;;
  -moz-transition: all 0.3s ease;;
  -o-transition: all 0.3s ease;;
  transition: all 0.3s ease;
  opacity: 0.5;
}
.grow {
      -webkit-transition: all 0.3s ease;;
  -moz-transition: all 0.3s ease;;
  -o-transition: all 0.3s ease;;
  transition: all 0.3s ease;
}
.grow:hover {
    -webkit-transition: all 0.3s ease;;
  -moz-transition: all 0.3s ease;;
  -o-transition: all 0.3s ease;;
  transition: all 0.3s ease;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.hover {
    background: #6d6d6d;
}
.hover img {
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.hover:hover img {
    opacity: .5;
}

/* BUTTON UP */
#toTop {
 color: #fff!important;
 font-size: 1.4em!important;
 font-family: verdana!important;
 font-weight: 600!important;
 width: 50px;
 height: 50px;
 border: 1px solid #fff;
 background: #f39200;
 text-align: center;
 padding: 11px 10px 10px 10px;
 position: fixed;
 bottom: 10px;
 right: 10px;
 cursor: pointer;
 display: none;
 opacity:0.7; 
    -moz-opacity:0.7; 
    filter:alpha(opacity=70);
 z-index: 10;
}
#toTop:hover {
    opacity:1.0; 
    -moz-opacity:1.0; 
    filter:alpha(opacity=100);
}

/*YOUTUBE OPTIMIZATION*/
.youtube {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}
.youtube .play {
    background: url('../images/youtube-play-btn.png') no-repeat;
    background-position: 0 -50px;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    position: absolute;
    height: 50px;
    width: 69px;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}
.youtube:hover .play {
    background-position: 0 0;
}

/*BUTTON CALLBACK*/
#popup__toggle{bottom:15px;left:0px;position:fixed;z-index:999;}
.img-circle{background-color:#f39200;box-sizing:content-box;-webkit-box-sizing:content-box;}
.circlephone{box-sizing:content-box;-webkit-box-sizing:content-box;border: 2px solid #f39200;width:100px;height:100px;bottom:-15px;left:3px;position:absolute;-webkit-border-radius:100%;-moz-border-radius: 100%;border-radius: 100%;opacity: .5;-webkit-animation: circle-anim 2.4s infinite ease-in-out !important;-moz-animation: circle-anim 2.4s infinite ease-in-out !important;-ms-animation: circle-anim 2.4s infinite ease-in-out !important;-o-animation: circle-anim 2.4s infinite ease-in-out !important;animation: circle-anim 2.4s infinite ease-in-out !important;-webkit-transition: all .5s;-moz-transition: all .5s;-o-transition: all .5s;transition: all 0.5s;}
.circle-fill{box-sizing:content-box;-webkit-box-sizing:content-box;background-color:#f39200;width:65px;height:65px;bottom:3px;left:20px;position:absolute;-webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;border: 2px solid transparent;-webkit-animation: circle-fill-anim 2.3s infinite ease-in-out;-moz-animation: circle-fill-anim 2.3s infinite ease-in-out;-ms-animation: circle-fill-anim 2.3s infinite ease-in-out;-o-animation: circle-fill-anim 2.3s infinite ease-in-out;animation: circle-fill-anim 2.3s infinite ease-in-out;-webkit-transition: all .5s;-moz-transition: all .5s;-o-transition: all .5s;transition: all 0.5s;}
.img-circle{box-sizing:content-box;-webkit-box-sizing:content-box;width:50px;height:50px;bottom: 10px;left: 27px;position:absolute;-webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;border: 2px solid transparent;opacity: .7;}
.img-circleblock{box-sizing:content-box;-webkit-box-sizing:content-box;margin-left:12px;margin-top:12px;width:26px;height:26px;animation-name: tossing;-webkit-animation-name: tossing;animation-duration: 1.5s;-webkit-animation-duration: 1.5s;animation-iteration-count: infinite;-webkit-animation-iteration-count: infinite;}
.img-circle:hover{opacity: 1;}
@keyframes pulse {0% {transform: scale(0.9);opacity: 1;}
  50% {transform: scale(1); opacity: 1; }   
  100% {transform: scale(0.9);opacity: 1;}}
 @-webkit-keyframes pulse {0% {-webkit-transform: scale(0.95);opacity: 1;}
  50% {-webkit-transform: scale(1);opacity: 1;}   
  100% {-webkit-transform: scale(0.95);opacity: 1;}}
@keyframes tossing {
  0% {transform: rotate(-8deg);}
  50% {transform: rotate(8deg);}
  100% {transform: rotate(-8deg);}}
@-webkit-keyframes tossing {
  0% {-webkit-transform: rotate(-8deg);}
  50% {-webkit-transform: rotate(8deg);}
  100% {-webkit-transform: rotate(-8deg);}}
@-moz-keyframes circle-anim {
  0% {-moz-transform: rotate(0deg) scale(0.5) skew(1deg);opacity: .1;-moz-opacity: .1;-webkit-opacity: .1;-o-opacity: .1;}
  30% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .5;-moz-opacity: .5;-webkit-opacity: .5;-o-opacity: .5;}
  100% {-moz-transform: rotate(0deg) scale(1) skew(1deg);opacity: .6;-moz-opacity: .6;-webkit-opacity: .6;-o-opacity: .1;}}
@-webkit-keyframes circle-anim {
  0% {-webkit-transform: rotate(0deg) scale(0.5) skew(1deg);-webkit-opacity: .1;}
  30% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);-webkit-opacity: .5;}
  100% {-webkit-transform: rotate(0deg) scale(1) skew(1deg);-webkit-opacity: .1;}}
@-o-keyframes circle-anim {
  0% {-o-transform: rotate(0deg) kscale(0.5) skew(1deg);-o-opacity: .1;}
  30% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);-o-opacity: .5;}
  100% {-o-transform: rotate(0deg) scale(1) skew(1deg);-o-opacity: .1;}}
@keyframes circle-anim {
  0% {transform: rotate(0deg) scale(0.5) skew(1deg);opacity: .1;}
  30% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .5;}
  100% {transform: rotate(0deg) scale(1) skew(1deg);
opacity: .1;}}
@-moz-keyframes circle-fill-anim {
  0% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
  50% {-moz-transform: rotate(0deg) -moz-scale(1) skew(1deg);opacity: .2;}
  100% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
@-webkit-keyframes circle-fill-anim {
  0% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;  }
  50% {-webkit-transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;  }
  100% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
@-o-keyframes circle-fill-anim {
  0% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
  50% {-o-transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;}
  100% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
@keyframes circle-fill-anim {
  0% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
  50% {transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;}
  100% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}

/* MEDIA */
/*
@media (min-width: 390px) {
    
}
@media (min-width: 576px) {
    
}
@media (min-width: 768px) {
    
}
@media (min-width: 1200px) {
    
}
*/
