<p class="h3 pt-5">Если вы считаете, что ваши права были нарушены или было нарушено действующее законодательство, оставьте нам жалобу.</p>
<p class="h5 pt-2">Мы обязательно рассмотрим ваше обращение, устраним недостатки и предоставим вам ответы на ситуацию.</p>
<p class="h5 pt-2 pb-5">Мы заботимся о своих клиентах и стремимся к улучшению условий пользования сервисом.</p>