<div class="container pt-3">
    
    <p class="h3 text-muted mb-3">Уважаемые покупатели.</p>
    
    <div class="border-left border-info pl-3">
        <p>
            С помощью данной услуги Вы всегда сможете <b>заказать требуемый товар в нашей сети в 
            режиме online</b> или <br><b>по телефонам </b><u><a href="tel:+380501001567" target="_blank">+38(050) 100-15-67</a></u>, <u><a href="tel:+380670071567" target="_blank">+38(067) 007-15-67</a></u>, а затем забрать его в ближайшей аптеке «Областной аптечный склад» в удобное время.
        </p>
        <p>Покупая товары таким способом Вы <b>экономите время и деньги</b>, а самое 
            главное - <strong>гарантированно получаете сертифицированный товар высокого 
            качества</strong>, доставляемый в место выдачи непосредственно с нашего 
            аптечного склада. Наше предприятие работает только с официальными поставщиками и производителями, имея все необходимые сертификаты качества и регистрацию на весь ассортимент товара, представленный в аптеках. Специалисты предприятия регулярно контролируют сроки годности и правильное хранение препаратов.<br></p>
    </div>
    
    <p class="h5 ml-4 mt-4">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#73b3d7" class="bi bi-arrow-right-circle-fill mb-1 mr-2" viewBox="0 0 16 16">
                <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"></path>
        </svg>
        <b>Внимание!</b><br> 
        Остерегайтесь подделок и <em>покупайте<ins> медицинские товары 
            только в проверенных местах</ins></em>.
    </p>
    
    <h2 class="h3 text-blue text-uppercase text-center mt-5 mb-3">Как сделать заказ через интернет<br></h2>
    <p class="text-center text-muted">Для приобретения товаров в сети «Областной аптечный 
        склад» посредством интернет используйте онлайн-сервис 
        <a href="http://tabletki.ua/" target="_blank" rel="noopener">tabletki.ua</a>.
        В этом <b>видеролике показано - как сделать заказ</b> <b>в ближайшей аптеке нашей сети</b> с его помощью:</p>
    
    <div class="row align-items-center">
        <div class="col-md-5 mt-4">
            <div class="embed-responsive embed-responsive-16by9 mb-2">
                <div class="youtube embed-responsive-item" id="9c6vFWZQc34" style="background-image: url(&quot;http://i.ytimg.com/vi/9c6vFWZQc34/sddefault.jpg&quot;);" http:="" i.ytimg.com="" vi="" 9c6vfwzqc34="" sddefault.jpg");"=""><div class="play"></div><div class="play"></div><div class="play"></div><div class="play"></div><div class="play"></div><div class="play"></div><div class="play"></div><div class="play"></div></div>
            </div>
            <p class="text-muted">Как сделать заказ через online-сервис tabletki.ua<br></p>
        </div>
        <div class="col-md-7 mt-4">
            <p class="text-blue h5 mb-3"><b>Используя данный сервис - Вы сможете:</b></p>
            <ul>
                <li>узнать наличие и актуальную цену на препараты в ближайших к 
                    Вам аптеках, указав адрес или примерное местоположение;</li>
                <li>найти и сохранить интересующую Вас аптеку сети «Областной аптечный склад» в Списке избранных для быстрого 
                    поиска и заказа;</li>
                <li>в любое удобное время оформить свой заказ через интернет (при 
                    готовности товара к выдаче на Ваш телефон и email придет 
                    соответствующее уведомление);</li>
                <li>забрать товар и оплатить его, посетив выбранную в заказе аптеку 
                    в рабочее время;</li>
                <li>сравнить цену на товар с другими аптеками поблизости;</li>
                <li>зарегистрироваться в качестве постоянного пользователя, чтобы 
                    получить доступ к истории всех своих заказов, повторять заказы, 
                    получать бонусы и скидки.</li>
            </ul>
        </div>
    </div>
    
</div>

<div class="w-100 bg-light pt-5 pb-5 mt-5">
    <div class="container text-center">
        <h3 class="text-muted">Заказ дефицитных позиций</h3>
        <p class="lead text-blue">
            В случае возникновения вопросов или недоступности требуемого товара для покупки в сети 
            аптек - свяжитесь с нашей Справочной службой по телефону 
<a href="tel:+380501001567" target="_blank">            +38(050) 100-15-67</a>, <a href="tel:+380670071567">+38(067) 007-15-67</a> и мы сделаем все возможное, 
            чтобы исполнить Ваш заказ.</p>
    </div>
</div>
