<div class="container pt-3 pb-5">
    
    <div class="row">
        <div class="col-md-4 col-lg-6 mt-4">
            <img src="images/pages/interny.jpg" loading="lazy" class="img-fluid" alt="Інтерни">
        </div>
        <div class="col-md-8 col-lg-6 mt-4">
            <p class="lead mt-3">КП ХОР «Областной аптечный склад» приглашает студентов выпускников фармацевтических вузов на прохождение заочной части интернатуры по специальности "Общая фармация" и "Клиническая фармация".</p>
            <p>Интернатура является обязательной формой последипломной подготовки выпускников фармацевтических высших учебных заведений, по окончании которой им присваивается квалификация провизора по специальности "Общая фармация", клинического провизора по специальности "Клиническая фармация" и выдается соответствующий сертификат по окончании ее очной части. Без наличия такого документа выпускник вуза не имеет права на самостоятельную провизорскую деятельность.</p>
        </div>
    </div>
    
    <h2 class="h3 text-uppercase text-blue mt-5 mb-4">Интернатура состоит из:</h2>
    
    <ul class="list-modern">
        <li class="list-modern-item">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#73b3d7" class="bi bi-arrow-right-circle-fill mb-1 mr-2" viewBox="0 0 16 16">
                <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"></path> </svg>заочной части интернатуры ( "Общая фармация" - 7 месяцев, "Клиническая фармация" - 5 месяцев) в КП ХОР "Областной аптечный склад";</li>
        <li class="list-modern-item">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#73b3d7" class="bi bi-arrow-right-circle-fill mb-1 mr-2" viewBox="0 0 16 16">
                <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"></path> </svg>очной части интернатуры 4 и 6 месяцев соответственно в учебном заведении, выбирает выпускник.</li>
    </ul>
    
    <div class="border-left border-info pl-3 mt-5">
        <p>
            <b>Для прохождения интернатуры</b> в КП ХОР "Областной аптечный склад" студент подает заявление до 1 марта или до 1 августа текущего года. Зачисление осуществляется согласно приказу предприятия.
        </p>
        <p>
            <b>Ответственная за прохождение практики и интернатуры</b> – Митронова Елена Владимировна, провизор высшей категории,&nbsp; &nbsp; &nbsp; &nbsp; тел. <a href="tel:0675725037">(067)572-50-37</a>.
        </p>
        <p>
            <b>Адрес приема документов:</b> г. Киев, ул. Гражданская, 25 
        </p>
    </div>
    
    <h2 class="h3 text-uppercase text-blue mt-5 mb-4">Порядок оформления:</h2>
    
    <ul class="list-modern">
        <li class="list-modern-item">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#73b3d7" class="bi bi-arrow-right-circle-fill mb-1 mr-2" viewBox="0 0 16 16">
                <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"></path> </svg>Студенты, окончившие вуз за бюджетные средства, оформляются на должность провизоров-интернов при наличии свободной штатной единицы.</li>
        <li class="list-modern-item">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#73b3d7" class="bi bi-arrow-right-circle-fill mb-1 mr-2" viewBox="0 0 16 16">
                <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"></path> </svg>Студенты, которые учились за средства физических и юридических лиц, проходящих заочную часть интернатуры согласно гражданско-правовых договоров.</li>
    </ul>
    
    <h2 class="h3 text-uppercase text-blue mt-5 mb-4">Перечень необходимых документов:</h2>
    
    <ol>
        <li>заявление;</li>
        <li>копия паспорта, идентификационного кода;</li>
        <li>копия диплома о высшем фармацевтическом образовании;</li>
        <li>копия свидетельства о браке (в случае смены фамилии);</li>
        <li>справка об обучении по контракту;</li>
        <li>для внутренне перемещенных лиц - копия справки о постановке на учет;</li>
        <li>трудовая книжка (по желанию).</li>
    </ol>
    
</div>
