<div class="container pt-3 pb-5">
    
    <h2 class="h3 text-uppercase text-muted"><span class="VIiyi" lang="ru"><span class="JLqJ4b ChMk0b" data-language-for-alternatives="ru" data-language-to-translate-into="uk" data-phrase-index="0"><span>уставные</span></span> <span class="JLqJ4b ChMk0b" data-language-for-alternatives="ru" data-language-to-translate-into="uk" data-phrase-index="1"><span>документы</span></span></span> </h2>
    
    <div class="row">
        <div class="col-md-4 text-center mt-4">
            <img src="images/pages/license.jpg" loading="lazy" class="img-fluid img-thumbnail" alt="Ліцензія Sanigo">
            <p class="mt-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download mb-1 mr-2" viewBox="0 0 16 16">
                    <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"></path>
                    <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"></path>&nbsp;</svg><a href="docs/license.pdf" target="_blank">Лицензия (237,1 кБ)</a>
            </p>
        </div>
        <div class="col-md-4 text-center mt-4">
            <img src="images/pages/svidotstvo.jpg" loading="lazy" class="img-fluid img-thumbnail" alt="Свідотство про державну реєстрацію">
            <p class="mt-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download mb-1 mr-2" viewBox="0 0 16 16">
                    <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"></path>
                    <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"></path> </svg><a href="docs/svidotstvo.pdf" target="_blank">Свидетельство государственной регистрации (503,1 кБ)            </a></p>
        </div>
        <div class="col-md-4 text-center mt-4">
            <img src="images/pages/statut.jpg" loading="lazy" class="img-fluid img-thumbnail" alt="Статут">
            <p class="mt-3"><a href="docs/Statut.pdf" target="_blank">Устав (1,1 МБ)</a></p>
        </div>
    </div>
    
    </div><div class="w-100 bg-light pt-5 pb-5"><div class="container"><p class="lead text-center mb-0"><span class="VIiyi" lang="ru"><span class="JLqJ4b ChMk0b" data-language-for-alternatives="ru" data-language-to-translate-into="uk" data-phrase-index="0"><span>Сведения</span></span> <span class="JLqJ4b ChMk0b" data-language-for-alternatives="ru" data-language-to-translate-into="uk" data-phrase-index="1"><span>о договорах</span></span><span class="JLqJ4b ChMk0b" data-language-for-alternatives="ru" data-language-to-translate-into="uk" data-phrase-index="2"><span>,</span></span> <span class="JLqJ4b ChMk0b" data-language-for-alternatives="ru" data-language-to-translate-into="uk" data-phrase-index="3"><span>информация</span></span> <span class="JLqJ4b ChMk0b" data-language-for-alternatives="ru" data-language-to-translate-into="uk" data-phrase-index="4"><span>о которых</span></span> <span class="JLqJ4b ChMk0b" data-language-for-alternatives="ru" data-language-to-translate-into="uk" data-phrase-index="5"><span>подлежит</span></span> <span class="JLqJ4b ChMk0b" data-language-for-alternatives="ru" data-language-to-translate-into="uk" data-phrase-index="6"><span>обнародованию</span></span> <span class="JLqJ4b ChMk0b" data-language-for-alternatives="ru" data-language-to-translate-into="uk" data-phrase-index="7"><span>в соответствии с Законом</span></span> <span class="JLqJ4b ChMk0b" data-language-for-alternatives="ru" data-language-to-translate-into="uk" data-phrase-index="8"><span>Украины</span></span> <span class="JLqJ4b ChMk0b" data-language-for-alternatives="ru" data-language-to-translate-into="uk" data-phrase-index="9"><span>"</span></span><span class="JLqJ4b ChMk0b" data-language-for-alternatives="ru" data-language-to-translate-into="uk" data-phrase-index="10"><span>Об открытости</span></span> <span class="JLqJ4b ChMk0b" data-language-for-alternatives="ru" data-language-to-translate-into="uk" data-phrase-index="11"><span>использования публичных</span></span> <span class="JLqJ4b ChMk0b" data-language-for-alternatives="ru" data-language-to-translate-into="uk" data-phrase-index="12"><span>средств</span></span><span class="JLqJ4b ChMk0b" data-language-for-alternatives="ru" data-language-to-translate-into="uk" data-phrase-index="13"><span>"</span></span> <span class="JLqJ4b ChMk0b" data-language-for-alternatives="ru" data-language-to-translate-into="uk" data-phrase-index="14"><span>можно</span></span> <span class="JLqJ4b ChMk0b" data-language-for-alternatives="ru" data-language-to-translate-into="uk" data-phrase-index="15"><span>найти</span></span> <span class="JLqJ4b ChMk0b" data-language-for-alternatives="ru" data-language-to-translate-into="uk" data-phrase-index="16"><span>по адресу</span></span> <span class="JLqJ4b ChMk0b" data-language-for-alternatives="ru" data-language-to-translate-into="uk" data-phrase-index="17"><span>электронного</span></span> <span class="JLqJ4b ChMk0b" data-language-for-alternatives="ru" data-language-to-translate-into="uk" data-phrase-index="18"><span>хранилища</span></span> <span class="JLqJ4b ChMk0b" data-language-for-alternatives="ru" data-language-to-translate-into="uk" data-phrase-index="19"><span>E</span></span><span class="JLqJ4b ChMk0b" data-language-for-alternatives="ru" data-language-to-translate-into="uk" data-phrase-index="20"><span>-</span></span><span class="JLqJ4b ChMk0b" data-language-for-alternatives="ru" data-language-to-translate-into="uk" data-phrase-index="21"><span>data</span></span> <span class="JLqJ4b ChMk0b" data-language-for-alternatives="ru" data-language-to-translate-into="uk" data-phrase-index="22"><span>по коду</span></span> <span class="JLqJ4b ChMk0b" data-language-for-alternatives="ru" data-language-to-translate-into="uk" data-phrase-index="23"><span>ЕГРПОУ</span></span> <span class="JLqJ4b ChMk0b" data-language-for-alternatives="ru" data-language-to-translate-into="uk" data-phrase-index="24"><span>22654831</span></span></span> </p>
    </div>
</div>