<div class="container pt-3 pb-5">
    
    <h2 class="h3 text-uppercase text-muted mb-3">1. государственная Программа «Доступные лекарства»</h2>
    
    <div class="border-left border-info pl-3">
        <p class="text-blue mb-0"><b>Основание:</b></p>
        <ul>
            <li>Постановление КМУ от 09.11.2016 г.. №863 «о введении возмещения стоимости лекарственных средств».</li>
            <li>Постановление КМУ от 17.03.2017 г.. №152 «об обеспечении доступности лекарственных средств.</li>
        </ul>
    </div>
    
    <h3 class="text-center text-muted h4 mt-5 mb-4">Перечень аптечных учреждений, принимающих участие<br>в Государственной программе "Доступные лекарства" <br></h3>
    
    <div class="table-responsive">
        <table class="table table-striped table-bordered small">
            <thead>
                <tr class="bg-blue text-white">
                    <th scope="col">Аптечний заклад</th>
                    <th scope="col">Заклад охорони здоровʼя</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><b>Аптека №2</b><br> 
                        Киівська обл., смт. Шевченкове, вул. Центральна, 33</td>
                    <td><span style="font-size: 12.8px;">КНП</span>&nbsp;«ЦПМСД Шевченківського району» Шевченківська ЦРЛ</td>
                </tr>
                <tr>
                    <td><b>Аптечний пункт №1 Аптеки №43</b><br>
                        Киівська обл., м. Балаклія, вул. Жовтнева, 10</td>
                    <td><span style="font-size: 12.8px;">КНП</span>&nbsp;«Балаклійська ЦКРЛ»</td>
                </tr>
                <tr>
                    <td><b>Аптечний пункт №3 Аптеки №43</b><br>
                        Киівська обл., м. Валки, пров. Майський, 34</td>
                    <td><span style="font-size: 12.8px;">КНП</span>&nbsp;«ЦПМСД Валківського району»</td>
                </tr>
                <tr>
                    <td><span style="font-weight: bolder; font-size: 12.8px;">Аптечний пункт №10 Аптеки №43</span><br style="font-size: 12.8px;"><span style="font-size: 12.8px;">Киівська обл., смт.</span><span style="font-size: 12.8px; background-color: rgb(248, 249, 250);">&nbsp;Дворічна, вул. Слобожанська, 51</span><br></td>
                    <td><span style="font-size: 12.8px;">КНП «Дворічанська РЛ»&nbsp;</span><br></td>
                </tr>
                <tr>
                    <td><b>ЦРА №79</b><br> Киівська обл. м. Ізюм, вул. Соборна, 33</td>
                    <td><span style="font-size: 12.8px;">КНП</span>&nbsp;«ЦПМСД м.Ізюм» Ізюмська ЦМЛ</td>
                </tr>
                <tr>
                    <td><b>ЦРА №113</b><br>
                        Киівська обл., смт. Зачепилівка, вул. Центральна, 47</td>
                    <td><span style="font-size: 12.8px;">КНП</span>&nbsp;«ЦПМСД Зачепилівського району»<br><span style="font-size: 12.8px;">КНП</span>&nbsp;«Зачепилівська ЦРЛ»</td>
                </tr>
                <tr>
                    <td><b>Аптека №157</b><br>
                        Киівська обл., Краснокутський р-н, сел. Козіївка,
                        вул. Слобожанська, 91-А</td>
                    <td><span style="font-size: 12.8px;">КНП</span>&nbsp;«ЦПМСД Краснокутського району»</td>
                </tr>
                <tr>
                    <td><b>Аптека №43</b><br>
                        м. Киів, вул. Громадянська, 25</td>
                    <td><span style="font-size: 12.8px;">КНП</span>&nbsp;«Киівська міська клінічна лікарня №27»</td>
                </tr>
                <tr>
                    <td><b>Аптека №48</b><br>
                        м. Киів, вул. Алчевських, 15</td>
                    <td><span style="font-size: 12.8px;">КНП</span>&nbsp;«Киівська міська клінічна лікарня №27»</td>
                </tr>
                <tr>
                    <td><b>Аптека № 237</b><br>
                        м. Киів, вул. Киівських дивізій, 20</td>
                    <td><span style="font-size: 12.8px;">КНП</span>&nbsp;«Киівська міська поліклініка №5»<br><span style="font-size: 12.8px;">КНП</span>&nbsp;«Киівська міська поліклініка №3»</td>
                </tr>
                <tr>
                    <td><b>Аптека № 249</b><br>
                        м. Киів, вул. Плеханівська, 121</td>
                    <td><span style="font-size: 12.8px;">КНП</span>&nbsp;«Киівська міська поліклініка №21»</td>
                </tr>
                <tr>
                    <td><b>Аптека №241</b><br>
                        м. Киів, вул. Полтавський шлях, 36</td>
                    <td>Відділ охорони здоровʼя ХРДА</td>
                </tr>
                <tr>
                    <td><b>Аптека № 335</b><br>
                        м. Киів, пр-т Гагарина, 137</td>
                    <td><span style="font-size: 12.8px;">КНП</span>&nbsp;«Киівська міська клінічна лікарня №13»<br><span style="font-size: 12.8px;">КНП</span>&nbsp;«Киівська міська поліклініка №25»<br>
                        Відділ охорони здоровʼя ХРДА</td>
                </tr>
                <tr>
                    <td><b>Аптека №346</b><br>
                        Киівська обл., смт. Нова Водолага, вул. Пушкіна, 16</td>
                    <td>Відділ охорони здоровʼя Нововодолазької РДА</td>
                </tr>
                <tr>
                    <td><b>Аптечний пункт № 1 Аптеки № 346</b><br>
                        Киівська обл., смт. Нова Водолага, вул. Пушкіна, 16</td>
                    <td>Відділ охорони здоровʼя Нововодолазької РДА</td>
                </tr>
                <tr>
                    <td><b>Аптека №354</b><br>
                        Киівська обл., смт. Васищеве, вул.Орешкова, 21</td>
                    <td>Відділ охорони здоровʼя ХРДА</td>
                </tr>
            </tbody>
          </table>
    </div>
    
    
    <h2 class="h3 text-uppercase text-muted mt-5 mb-3">2. Обеспечение препаратами инсулина пациентов, нуждающихся в инсулинотерапии</h2>
    
    <div class="border-left border-info pl-3">
        <p class="text-blue mb-0"><b>основание:</b></p>
        <ul>
            <li>Постановление КМУ от 05.03.2014 г.. №73 «Вопрос реализации пилотного проекта по внедрению государственного регулирования цен на препараты инсулина».</li>
            <li>Постановление КМУ от 23.03.2016 г.. № 239 «Некоторые вопросы возмещения стоимости препаратов инсулина».</li>
            <li>Приказ МОЗ Украины от 19.07.2005 г.. № 360 «Об утверждении правил выписывания рецептов на лекарственные средства и изделия медицинского назначения».</li>
        </ul>
    </div>
    
    <h3 class="text-center text-muted h4 mt-5 mb-4">Перечень аптечных заведений</h3>
    
    <div class="table-responsive">
        <table class="table table-striped table-bordered small">
            <thead>
                <tr class="bg-blue text-white">
                    <th scope="col">Аптечний заклад</th>
                    <th scope="col">Заклад охорони здоровʼя</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><b>Аптека №2</b><br>
                        Киівська обл., смт. Шевченкове, вул. Центральна, 33</td>
                    <td>Шевченківська ЦРЛ</td>
                </tr>
                <tr>
                    <td><b>Аптечний пункт №1 Аптеки №43</b><br>
                        Киівська обл., м. Балаклія, вул. Жовтнева, 10</td>
                    <td><span style="font-size: 12.8px;">КНП</span>&nbsp;«Балаклійська ЦКРЛ»</td>
                </tr>
                <tr>
                    <td><b>Аптечний пункт №3 Аптеки №43</b><br>
                        Киівська обл., м. Валки, пров. Майський, 34</td>
                    <td><span style="font-size: 12.8px;">КНП</span>&nbsp;« Валківська ЦРЛ»</td>
                </tr>
                <tr>
                    <td><b>Аптечний пункт №4 Аптеки №43</b><br>
                        Киівська обл., м. Чугуїв, вул. Гвардійська, 25</td>
                    <td><span style="font-size: 12.8px;">КНП</span>&nbsp;«Чугуївська ЦРЛ ім. М.І.Кононенка»</td>
                </tr>
                <tr>
                    <td><b>ЦРА №79</b><br>
                        Киівська обл. м. Ізюм, вул. Соборна, 33</td>
                    <td>Ізюмська ЦМЛ</td>
                </tr>
                <tr>
                    <td><b>ЦРА №113</b><br>
                        Киівська обл., смт. Зачепилівка, вул. Центральна, 47</td>
                    <td><span style="font-size: 12.8px;">КНП</span>&nbsp;«Зачепилівська ЦРЛ»</td>
                </tr>
                <tr>
                    <td><b>Аптека №43</b><br>
                        м. Киів, вул. Громадянська, 25</td>
                    <td>Відділ охорони здоровʼя ХРДА</td>
                </tr>
                <tr>
                    <td><b>Аптека №7</b><br>
                        м. Киів, Гімназійна набережна, 22</td>
                    <td>Відділ охорони здоровʼя ХРДА</td>
                </tr>
                <tr>
                    <td><b>Аптека № 237</b><br>
                        м. Киів, вул. Киівських дивізій, 20</td>
                    <td>Відділ охорони здоровʼя ХРДА</td>
                </tr>
                <tr>
                    <td><b>Аптека № 335</b><br>
                        м. Киів, пр-т Гагарiна, 137</td>
                    <td><span style="font-size: 12.8px;">КНП</span>&nbsp;«Киівська міська клінічна лікарня №13»<br>
                        Відділ охорони здоровʼя ХРДА</td>
                </tr>
                <tr>
                    <td><b>Аптека №346</b><br>
                        Киівська обл., смт. Нова Водолага, вул. Пушкіна, 16</td>
                    <td><span style="font-size: 12.8px;">КНП</span>&nbsp;«Нововодолазька ЦРЛ»</td>
                </tr>
                <tr>
                    <td><b>Аптека №354</b><br>
                        Киівська обл., смт. Васищеве, вул. Орешкова, 21</td>
                    <td>Відділ охорони здоровʼя ХРДА</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    
    <h2 class="h3 text-uppercase text-muted mt-5 mb-3">3. Обеспечение лекарственными средствами и предметами медицинского назначения участников ликвидации аварии на ЧАЭС</h2>
    
    <div class="border-left border-info pl-3">
        <p class="text-blue mb-0"><b>Основание:</b></p>
        <ul>
            <li>Закон Украины "О статусе и социальной защите граждан, пострадавших вследствие Чернобыльской катастрофы".</li>
            <li>Постановление КМУ от 17.08.1998 г.. №1303 "Об упорядочении бесплатного и льготного отпуска лекарственных средств по рецептам врачей в случае амбулаторного лечения отдельных групп населения и по определенным категориям заболеваний".</li>
            <li>Приказ МЗ Украины от 19.07.2005 г.. № 360 «Об утверждении правил выписывания рецептов на лекарственные средства и изделия медицинского назначения». <br></li>
        </ul>
    </div>
    
    <h3 class="text-center text-muted h4 mt-5 mb-4">Перечень аптечных заведений</h3>
    
    <div class="table-responsive">
        <table class="table table-striped table-bordered small">
            <thead>
                <tr class="bg-blue text-white">
                    <th scope="col">Аптечний заклад</th>
                    <th scope="col">Заклад охорони здоровʼя</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><b>Аптечний пункт №1 Аптеки № 43</b><br>
                        м. Балаклія, вул. Жовтнева, 10</td>
                    <td>Балаклійський район Киівської області</td>
                </tr>
                <tr>
                    <td><b>Аптечний пункт №3 Аптеки № 43</b><br>
                        м. Валки, провул. Майський, 43</td>
                    <td>Валківський район Киівської області</td>
                </tr>
                <tr>
                    <td><b>ЦРА № 113</b><br>
                        Киівська обл., смт. Зачепилівка, вул. Центральна, 47</td>
                    <td>Зачепилівський район Киівської області</td>
                </tr>
                <tr>
                    <td><b>ЦРА № 79</b><br>
                        м. Ізюм, вул. Соборна, 33</td>
                    <td>м.Ізюм та Ізюмський район Киівської області</td>
                </tr>
                <tr>
                    <td><b>Аптека № 346</b><br>
                        Киівська обл., смт. Нова Водолага, вул. Пушкіна, 16</td>
                    <td>Нововодолазький район Киівської області</td>
                </tr>
                <tr>
                    <td><b>Аптека №2</b><br>
                        Киівська обл., смт. Шевченкове, вул. Центральна, 33</td>
                    <td>Шевченківський район Киівської області</td>
                </tr>
                <tr>
                    <td><b>Аптечний пункт №2 Аптеки №287</b><br>
                        м. Киів, пр-т Ново-Баварський, 90</td>
                    <td>Новобаварський район, м.Киів</td>
                </tr>
                <tr>
                    <td><b>Аптека № 43</b><br>
                        м. Киів, вул. Громадянська, 25</td>
                    <td>Київський район, м.Киів</td>
                </tr>
                <tr>
                    <td><b>Аптека № 335</b><br>
                        м. Киів, пр-т Гагаріна, 137</td>
                    <td>Слобідський район, м.Киів</td>
                </tr>
                <tr>
                    <td><b>Аптека № 237</b><br>
                        м. Киів, вул. Киівських Дивізій, 20</td>
                    <td>Немишлянський район, м.Киів</td>
                </tr>
                <tr>
                    <td><b>Аптека №7</b><br>
                        м. Киів, Гімназійна набережна, 22</td>
                    <td>Основ'янський район, м.Киів</td>
                </tr>
                <tr>
                    <td><b>Аптека №241</b><br>
                        м. Киів, вул. Полтавський шлях, 36</td>
                    <td>Холодногірський район, м.Киів<br>
                        Киівський район Киівської області</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    
    <h2 class="h3 text-uppercase text-muted mt-5 mb-3">4.бесплатное Обеспечение лекарственными средствами и на льготных условиях граждан, имеющих на это право в соответствии с законодательством</h2>
    
    <div class="border-left border-info pl-3">
        <p class="text-blue mb-0"><b>Основание:</b></p>
        <ul>
            <li>Постановление КМУ от 17.08.1998 г.. №1303 «Об упорядочении бесплатного и льготного отпуска лекарственных средств по рецептам врачей в случае амбулаторного лечения отдельных групп населения и по определенным категориям заболеваний»<br></li>
        </ul>
    </div>
    
    <h3 class="text-center text-muted h4 mt-5 mb-4">Перечень аптечных заведений</h3>
    
    <div class="table-responsive">
        <table class="table table-striped table-bordered small">
            <thead>
                <tr class="bg-blue text-white">
                    <th scope="col">Аптечний заклад</th>
                    <th scope="col">Заклад охорони здоровʼя</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><b>Аптека №2</b><br>
                        Киівська обл., смт. Шевченкове, вул. Центральна, 33</td>
                    <td><span style="font-size: 12.8px;">КНП</span>&nbsp;«ЦПМСД Шевченківського району»<br>
                        Шевченківська ЦРЛ</td>
                </tr>
                <tr>
                    <td><b>Аптечний пункт №1 Аптеки №43</b><br>
                        Киівська обл., м. Балаклія, вул. Жовтнева, 10</td>
                    <td><span style="font-size: 12.8px;">КНП</span>&nbsp;«Балаклійська ЦКРЛ»<br><span style="font-size: 12.8px;">КНП</span>&nbsp;«Балаклійський ЦПМСД»</td>
                </tr>
                <tr>
                    <td><b>Аптечний пункт №3 Аптеки №43</b><br>
                        Киівська обл., м. Валки, пров. Майський, 34</td>
                    <td><span style="font-size: 12.8px;">КНП</span>&nbsp;«ЦПМСД Валківського району»<br><span style="font-size: 12.8px;">КНП</span>&nbsp;Коломацька ЦРЛ</td>
                </tr>
                <tr>
                    <td><span style="font-size: 12.8px; font-weight: bolder;">Аптечний пункт №10 Аптеки №43</span><br style="font-size: 12.8px;"><span style="font-size: 12.8px;">Киівська обл., смт</span><span style="font-size: 12.8px; background-color: rgb(248, 249, 250);">&nbsp;Дворічна, вул. Слобожанська, 51</span><br></td>
                    <td><span style="font-size: 12.8px;">КНП «Дворічанська РЛ»&nbsp;</span><br></td>
                </tr>
                <tr>
                    <td><b>ЦРА №79</b><br>
                        Киівська обл. м. Ізюм, вул. Соборна, 33</td>
                    <td><span style="font-size: 12.8px;">КНП</span>&nbsp;«ЦПМСД м.Ізюм»<br>
                        Ізюмська ЦМЛ</td>
                </tr>
                <tr>
                    <td><b>ЦРА №113</b><br>
                        Киівська обл., смт. Зачепилівка, вул. Центральна, 47</td>
                    <td><span style="font-size: 12.8px;">КНП</span>&nbsp;«ЦПМСД Зачепилівського району»<br><span style="font-size: 12.8px;">КНП</span>&nbsp;«Зачепилівська ЦРЛ»</td>
                </tr>
                <tr>
                    <td><b>Аптека №157</b><br>
                        Киівська обл., Краснокутський р-н, сел. Козіївка, 
                        вул. Слобожанська, 91-А</td>
                    <td><span style="font-size: 12.8px;">КНП</span>&nbsp;«ЦПМСД Краснокутського району»</td>
                </tr>
                <tr>
                    <td><b>Аптека №7</b><br>
                        м..Киів, Гімназійна набережна, 22</td>
                    <td><span style="font-size: 12.8px;">КНП</span>&nbsp;«Киівська міська поліклініка №22»<br><span style="font-size: 12.8px;">КНП</span>&nbsp;«Киівська міська дитяча клінічна лікарня №24»</td>
                </tr>
                <tr>
                    <td><b>Аптека №43</b><br>
                        м. Киів, вул. Громадянська, 25</td>
                    <td>Відділ охорони здоровʼя ХРДА</td>
                </tr>
                <tr>
                    <td><b>Аптека №48</b><br>
                        м..Киів, вул. Алчевських, 15</td>
                    <td><span style="font-size: 12.8px;">КНП</span>&nbsp;«ХМПНД №3»<br><span style="font-size: 12.8px;">КНП</span>&nbsp;«ХМПНД №16»<br><span style="font-size: 12.8px;">КНП</span>&nbsp;«ОПНД»<br>
                        ДЗ «СМСЧ №13» МОЗ України<br><span style="font-size: 12.8px;">КНП</span>&nbsp;«Киівська міська поліклініка №10»<br><span style="font-size: 12.8px;">КНП</span>&nbsp;«Киівська міська поліклініка №11»<br><span style="font-size: 12.8px;">КНП</span>&nbsp;«Киівська міська клінічна лікарня №27»<br><span style="font-size: 12.8px;">КНП</span>&nbsp;«Киівська міська лікарня №28»<br><span style="font-size: 12.8px;">КНП</span>&nbsp;«Киівська міська поліклініка №6»<br>
                        ДУ «ТМО МВС України по Киівській обл.»<br><span style="font-size: 12.8px;">КНП</span>&nbsp;«ЦПМСД Золочівського району»<br><span style="font-size: 12.8px;">КНП</span>&nbsp;«Киівська міська поліклініка №20»<br>
                        КНП«ЦПМСД Дергачівської райради»<br><span style="font-size: 12.8px;">КНП</span>&nbsp;РТМО «Дергачівська ЦРЛ»</td>
                </tr>
                <tr>
                    <td><b>Аптека № 237</b><br>
                        м. Киів, вул. Киівських дивізій, 20</td>
                    <td><span style="font-size: 12.8px;">КНП</span>&nbsp;«Киівська міська поліклініка №5»<br><span style="font-size: 12.8px;">КНП</span>&nbsp;«Киівська міська поліклініка №3»<br><span style="font-size: 12.8px;">КНП</span>&nbsp;«Киівська міська дітяча лікарня №5»</td>
                </tr>
                <tr>
                    <td><b>Аптека № 249</b><br>
                        м. Киів, вул. Плеханівська, 121</td>
                    <td><span style="font-size: 12.8px;">КНП</span>&nbsp;«Киівська міська поліклініка №21»<br><span style="font-size: 12.8px;">КНП</span>&nbsp;«Киівська міська дітяча поліклініка №12»</td>
                </tr>
                <tr>
                    <td><span style="font-weight: bolder; font-size: 12.8px;">Аптечний пункт №9 Аптеки №43</span><br>
                        м. Киів, пр-т Ново-Баварський, 90</td>
                    <td><span style="font-size: 12.8px;">КНП</span>&nbsp;«Киівська міська лікарня №3»</td>
                </tr>
                <tr>
                    <td><b>Аптека № 335</b><br>
                        м. Киів, пр-т Гагарiна, 137</td>
                    <td><span style="font-size: 12.8px;">КНП</span>&nbsp;«Киівська міська поліклініка №21»<br><span style="font-size: 12.8px;">КНП</span>&nbsp;«Киівська міська поліклініка №19»<br><span style="font-size: 12.8px;">КНП</span>&nbsp;«Киівська міська клінічна лікарня №13»<br><span style="font-size: 12.8px;">КНП</span>&nbsp;«Киівська міська поліклініка №25»<br><span style="font-size: 12.8px;">КНП</span>&nbsp;«Киівська міська лікарня №1»<br><span style="font-size: 12.8px;">КНП</span>&nbsp;«Киівська міська дітяча поліклініка №1»<br><span style="font-size: 12.8px;">КНП</span>&nbsp;«Киівська міська поліклініка №22»<br><span style="font-size: 12.8px;">КНП</span>&nbsp;«ЦПМСД Вовчанського району»<br>
                        Відділ охорони здоровʼя ХРДА</td>
                </tr>
                <tr>
                    <td><b>Аптека №346</b><br>
                        Киівська обл., смт. Нова Водолага, вул. Пушкіна, 16 </td>
                    <td><span style="font-size: 12.8px;">КНП</span>&nbsp;«ЦПМСД Нововодолазького району»<br><span style="font-size: 12.8px;">КНП</span>&nbsp;«Нововодолазька ЦРЛ»<br>
                        КНП « ЦПМСД Нововодолазької селищної ради</td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>
