<p>Используя сайт <a href="http://sanigo.1gb.ua/ru/">http://sanigo.1gb.ua/ru/</a><i></i>,
    Вы соглашаетесь на обработку ваших персональных данных и даете следующее Согласие</p>
<h2>Согласие на обработку персональных данных</h2>
<p>Используя сайт <a href="http://sanigo.1gb.ua/ru/">http://sanigo.1gb.ua/ru/</a><i></i>, 
    (заполняя формы, просматривая страницы), своей волей и в своем 
    интересе выражаю свое безусловное согласие на обработку моих персональных 
    данных&nbsp;<i>Компанія "Sanigo"</i><i>, далее — Оператор</i>.</p>
<p>Персональные данные — любая информация, относящаяся к определенному или 
    определяемому на основании такой информации физическому лицу.</p>
<p>Мной выдано согласие на обработку следующих персональных данных:</p>
    <ul>
        <li><i>Фамилия, Имя, Отчество;</i></li>
        <li><i>Адрес электронной почты;</i></li>
        <li><i>IP адрес.</i></li>
    </ul>
<p>Настоящее Согласие дано Оператору для совершения следующих действий с 
    персональными данными с использованием средств автоматизации и / или 
    без использования таких средств: сбор, систематизация, накопление, хранение, 
    уточнение (обновление, изменение), использование, блокирование, обезличивание, 
    уничтожение, удаление.</p>
<p>Согласие дается Оператору для обработки моих персональных данных в целях:</p>
    <ul>
        <li><i>направление мне электронных писем;</i></li>
        <li><i>предоставление мне услуг и работ;</i></li>
        <li><i>направление мне информации, в том числе рекламной, об услугах и 
        предложениях Оператора.</i></li>
    </ul>
<p>Согласие действует до момента его отзыва путем направления соответствующего 
    уведомления на электронный адрес 
    <a href="mailto:w4promo@gmail.com">w4promo@gmail.com</a><i></i>
</p>