<div class="container pt-2 pb-5">
    
    <div class="row">
        <div class="col-md-6 mt-4">
            <div class="media">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#73b3d7" class="bi bi-award-fill mr-3" viewBox="0 0 16 16">
                    <path d="m8 0 1.669.864 1.858.282.842 1.68 1.337 1.32L13.4 6l.306 1.854-1.337 1.32-.842 1.68-1.858.282L8 12l-1.669-.864-1.858-.282-.842-1.68-1.337-1.32L2.6 6l-.306-1.854 1.337-1.32.842-1.68L6.331.864 8 0z"></path>
                    <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"></path>
                </svg>
                <div class="media-body">Областной аптечный склад был создан в 1970 году. Сегодня это одна из крупнейших аптечных сетей Киева (более 30 аптек), которая имеет многолетний опыт работы и высококвалифицированный персонал. Мы предоставляем широкие возможности для улучшения качества жизни и повышения жизненной активности для пациентов с хроническими и неизлечимыми заболеваниями и последствиями травм.</div>
            </div>
        </div>
        <div class="col-md-6 mt-4">
            <div class="media">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#73b3d7" class="bi bi-award-fill mr-3" viewBox="0 0 16 16">
                    <path d="m8 0 1.669.864 1.858.282.842 1.68 1.337 1.32L13.4 6l.306 1.854-1.337 1.32-.842 1.68-1.858.282L8 12l-1.669-.864-1.858-.282-.842-1.68-1.337-1.32L2.6 6l-.306-1.854 1.337-1.32.842-1.68L6.331.864 8 0z"></path>
                    <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"></path>
                </svg>
                <div class="media-body">Наше предприятие работает только с официальными поставщиками и производителями, имея все необходимые сертификаты качества и регистрацию на весь ассортимент товара, представленный в аптеках. Специалисты предприятия регулярно контролируют сроки годности и правильное хранение препаратов.</div>
            </div>
        </div>
    </div>
    
    <h2 class="h3 text-blue text-uppercase mt-5 mb-3">Список вакансий</h2>
    
    <p class="border-left border-info pl-3 mb-4 lead text-muted">По вопросам текущих вакансий и трудоустройства в нашу компанию <b>звоните по телефону</b> <a href="tel:0501008032" target="_blank">(050) 100-80-32</a>.<br></p>
    
    <hr>
        
    <h3>Провизор / Фармацевт в Киеве</h3>
    <p>Заработная плата и график работы оговариваются на собеседовании. Контактный телефон:&nbsp;<a href="tel:0501008032">(050) 100-80-32</a><span style="font-size: 1rem;">.</span></p>
    
    <p><b>Основные требования</b></p>
    <ul>
        <li>фармацевтическое образование;</li>
        <li>опыт работы ПЕРВОСТОЛЬНИКом не менее 1 года;</li>
        <li>ответственность;</li>
        <li>внимательность;</li>
        <li>коммуникабельность.</li>
    </ul>
                
    <p><b>Основные обязанности:</b></p>
    <ul>
        <li>консультирование по ассортименту аптеки</li>
        <li>продажа лекарственных препаратов;</li>
        <li>ведение кассовой дисциплины;</li>
        <li>проверка сроков годности.</li>
    </ul>
    
    <p><b>Условия работы:</b></p>
    <ul>
        <li>официальное оформление;</li>
        <li>соцпакет.</li>
    </ul>
                
</div>
