<p class="h3 pt-5">Якщо ви вважаєте, що ваші права було порушено або було порушено чинне законодавство, залиште нам скаргу.</p>
<p class="h5 pt-2">Ми обов'язково розглянемо ваше звернення, усунемо недоліки та надамо вам відповіть щодо ситуації.</p>
<p class="h5 pt-2 pb-5">Ми піклуємося про своїх клієнтів і прагнемо покращення умов користування сервісом.</p>