<div class="container pt-3 pb-5">
    
    <div class="row">
        <div class="col-md-4 col-lg-6 mt-4">
            <img src="images/pages/interny.jpg" loading="lazy" class="img-fluid" alt="Інтерни">
        </div>
        <div class="col-md-8 col-lg-6 mt-4">
            <p class="lead mt-3">КП ХОР “Обласний аптечний склад” запрошує студентів 
                випускників фармацевтичних вищих навчальних закладів на проходження 
                заочної частини інтернатури за спеціальностями “Загальна фармація” 
                та “Клінічна фармація”.</p>
            <p>Інтернатура є обов’язковою формою післядипломної підготовки 
                випускників фармацевтичних вищих навчальних закладів, після закінчення 
                якої їм присвоюється кваліфікація провізора зі спеціальності 
                “Загальна фармація”, клінічного провізора зі спеціальності 
                “Клінічна фармація” та видається відповідний сертифікат після 
                закінчення її очної частини. Без наявності такого документа випускник 
                ВНЗ не має права на самостійну провізорську діяльність.</p>
        </div>
    </div>
    
    <h2 class="h3 text-uppercase text-blue mt-5 mb-4">Інтернатура складається з:</h2>
    
    <ul class="list-modern">
        <li class="list-modern-item">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#73b3d7" class="bi bi-arrow-right-circle-fill mb-1 mr-2" viewBox="0 0 16 16">
                <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
            </svg>
            заочної частини інтернатури (“Загальна фармація” – 7 місяців; 
            “Клінічна фармація” – 5 місяців) в КП ХОР “Обласний аптечний склад”;
        </li>
        <li class="list-modern-item">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#73b3d7" class="bi bi-arrow-right-circle-fill mb-1 mr-2" viewBox="0 0 16 16">
                <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
            </svg>
            очної частини інтернатури 4 та 6 місяців відповідно в навчальному закладі, 
            який обирає випускник.
        </li>
    </ul>
    
    <div class="border-left border-info pl-3 mt-5">
        <p>
            <b>Для проходження інтернатури</b> в КП ХОР “Обласний аптечний склад” студент 
            подає заяву до 1 березня або до 1 серпня поточного року. Зарахування 
            здійснюється згідно наказу підприємства.
        </p>
        <p>
            <b>Відповідальна за проходження практики та інтернатури</b>
            – Мітронова Олена Володимирівна, провізор вищої категорії,
            тел. <a href="tel:0675725037">(067)572-50-37</a>.
        </p>
        <p>
            <b>Адреса прийому документів:</b> м. Киів, вул Громадянська, 25
        </p>
    </div>
    
    <h2 class="h3 text-uppercase text-blue mt-5 mb-4">Порядок оформлення:</h2>
    
    <ul class="list-modern">
        <li class="list-modern-item">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#73b3d7" class="bi bi-arrow-right-circle-fill mb-1 mr-2" viewBox="0 0 16 16">
                <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
            </svg>
            Студенти, які закінчили ВНЗ за бюджетні кошти, оформлюються на посаду 
            провізорів-інтернів при наявності вільної штатної одиниці.
        </li>
        <li class="list-modern-item">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#73b3d7" class="bi bi-arrow-right-circle-fill mb-1 mr-2" viewBox="0 0 16 16">
                <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
            </svg>
            Студенти, які навчались за кошти фізичних та юридичних осіб, проходять 
            заочну частину інтернатури згідно цивільно-правових договорів.
        </li>
    </ul>
    
    <h2 class="h3 text-uppercase text-blue mt-5 mb-4">Перелік необхідних документів:</h2>
    
    <ol>
        <li>заява;</li>
        <li>копія паспорту, ідентифікаційного коду;</li>
        <li>копія диплому про вищу фармацевтичну освіту;</li>
        <li>копія свідоцтва про шлюб (в разі зміни прізвища);</li>
        <li>довідка про навчання за контрактом;</li>
        <li>для внутрішньо переміщених осіб – копія довідки про взяття на облік;</li>
        <li>трудова книжка (за бажанням).</li>
    </ol>
    
</div>
