<div class="container pt-3 pb-5">
    
    <h2 class="h3 text-uppercase text-muted mb-3">1. Урядова Програма «Доступні Ліки»</h2>
    
    <div class="border-left border-info pl-3">
        <p class="text-blue mb-0"><b>Підстава:</b></p>
        <ul>
            <li>Постанова КМУ від 09.11.2016 р. №863 «Про запровадження відшкодування 
                вартості лікарських засобів».</li>
            <li>Постанова КМУ від 17.03.2017 р. №152 «Про забезпечення доступності 
                лікарських засобів.
            </li>
        </ul>
    </div>
    
    <h3 class="text-center text-muted h4 mt-5 mb-4">Перелік аптечних закладів, що приймають участь<br> 
        в Урядовій програмі “ДОСТУПНІ ЛІКИ”</h3>
    
    <div class="table-responsive">
        <table class="table table-striped table-bordered small">
            <thead>
                <tr class="bg-blue text-white">
                    <th scope="col">Аптечний заклад</th>
                    <th scope="col">Заклад охорони здоровʼя</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><b>Аптека №2</b><br> 
                        Киівська обл., смт. Шевченкове, вул. Центральна, 33</td>
                    <td>КНП «ЦПМСД Шевченківського району» Шевченківська ЦРЛ</td>
                </tr>
                <tr>
                    <td><b>Аптечний пункт №1 Аптеки №43</b><br>
                        Киівська обл., м. Балаклія, вул. Жовтнева, 10</td>
                    <td><span style="background-color: rgb(255, 255, 255);">КНП </span>«Балаклійська ЦКРЛ»</td>
                </tr>
                <tr>
                    <td><b>Аптечний пункт №3 Аптеки №43</b><br>
                        Киівська обл., м. Валки, пров. Майський, 34</td>
                    <td><span style="font-size: 12.8px;">КНП</span>&nbsp;«ЦПМСД Валківського району»</td>
                </tr>
                <tr>
                    <td><b>Аптечний пункт №10 Аптеки №43</b><br>Киівська обл., смт.<span style="font-size: 12.8px; background-color: rgb(248, 249, 250);">&nbsp;Дворічна, вул. Слобожанська, 51</span><br></td>
                    <td>КНП «Дворічанська РЛ»&nbsp;<br><br></td>
                </tr>
                <tr>
                    <td><b>ЦРА №79</b><br> Киівська обл. м. Ізюм, вул. Соборна, 33</td>
                    <td><span style="font-size: 12.8px;">КНП</span>&nbsp;«ЦПМСД м.Ізюм» Ізюмська ЦМЛ</td>
                </tr>
                <tr><td><b>ЦРА №113</b><br>
                        Киівська обл., смт. Зачепилівка, вул. Центральна, 47</td>
                    <td><span style="font-size: 12.8px;">КНП</span>&nbsp;«ЦПМСД Зачепилівського району»<br><span style="font-size: 12.8px;">КНП</span>&nbsp;«Зачепилівська ЦРЛ»</td>
                </tr>
                <tr>
                    <td><b>Аптека №157</b><br>
                        Киівська обл., Краснокутський р-н, сел. Козіївка,
                        вул. Слобожанська, 91-А</td>
                    <td><span style="font-size: 12.8px;">КНП</span>&nbsp;«ЦПМСД Краснокутського району»</td>
                </tr>
                <tr>
                    <td><b>Аптека №43</b><br>
                        м. Киів, вул. Громадянська, 25</td>
                    <td><span style="font-size: 12.8px;">КНП</span>&nbsp;«Киівська міська клінічна лікарня №27»</td>
                </tr>
                <tr>
                    <td><b>Аптека №48</b><br>
                        м. Киів, вул. Алчевських, 15</td>
                    <td><span style="font-size: 12.8px;">КНП</span>&nbsp;«Киівська міська клінічна лікарня №27»</td>
                </tr>
                <tr>
                    <td><b>Аптека № 237</b><br>
                        м. Киів, вул. Киівських дивізій, 20</td>
                    <td><span style="font-size: 12.8px;">КНП</span>&nbsp;«Киівська міська поліклініка №5»<br><span style="font-size: 12.8px;">КНП</span>&nbsp;«Киівська міська поліклініка №3»</td>
                </tr>
                <tr>
                    <td><b>Аптека № 249</b><br>
                        м. Киів, вул. Плеханівська, 121</td>
                    <td><span style="font-size: 12.8px;">КНП</span>&nbsp;«Киівська міська поліклініка №21»</td>
                </tr>
                <tr>
                    <td><b>Аптека №241</b><br>
                        м. Киів, вул. Полтавський шлях, 36</td>
                    <td>Відділ охорони здоровʼя ХРДА</td>
                </tr>
                <tr>
                    <td><b>Аптека № 335</b><br>
                        м. Киів, пр-т Гагарина, 137</td>
                    <td><span style="font-size: 12.8px;">КНП</span>&nbsp;«Киівська міська клінічна лікарня №13»<br><span style="font-size: 12.8px;">КНП</span>&nbsp;«Киівська міська поліклініка №25»<br>
                        Відділ охорони здоровʼя ХРДА</td>
                </tr>
                <tr>
                    <td><b>Аптека №346</b><br>
                        Киівська обл., смт. Нова Водолага, вул. Пушкіна, 16</td>
                    <td>Відділ охорони здоровʼя Нововодолазької РДА</td>
                </tr>
                <tr>
                    <td><b>Аптечний пункт № 1 Аптеки № 346</b><br>Киівська обл., Нововодолазький р-н, с. Староверівка, вул. Центральна, 74<br></td>
                    <td>Відділ охорони здоровʼя Нововодолазької РДА</td>
                </tr>
                <tr>
                    <td><b>Аптека №354</b><br>
                        Киівська обл., смт. Васищеве, вул.Орешкова, 21</td>
                    <td>Відділ охорони здоровʼя ХРДА</td>
                </tr>
            </tbody>
          </table>
    </div>
    
    
    <h2 class="h3 text-uppercase text-muted mt-5 mb-3">2. Забезпечення препаратами 
        інсуліну пацієнтів, що потребують інсулінотерапії</h2>
    
    <div class="border-left border-info pl-3">
        <p class="text-blue mb-0"><b>Підстава:</b></p>
        <ul>
            <li>Постанова КМУ від 05.03.2014 р. №73 «питання реалізації пілотного 
                проекту щодо запровадження державного регулювання цін на препарати 
                інсуліну».</li>
            <li>Постанова КМУ від 23.03.2016 р. № 239 «деякі питання відшкодування 
                вартості препаратів інсуліну».</li>
            <li>Наказ МОЗ України від 19.07.2005 р. № 360 «про затвердження правил 
                виписування рецептів на лікарські засоби і вироби медичного 
                призначення».</li>
        </ul>
    </div>
    
    <h3 class="text-center text-muted h4 mt-5 mb-4">Перелік аптечних закладів</h3>
    
    <div class="table-responsive">
        <table class="table table-striped table-bordered small">
            <thead>
                <tr class="bg-blue text-white">
                    <th scope="col">Аптечний заклад</th>
                    <th scope="col">Заклад охорони здоровʼя</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><b>Аптека №2</b><br>
                        Киівська обл., смт Шевченкове, вул. Центральна, 33</td>
                    <td>Шевченківська ЦРЛ</td>
                </tr>
                <tr>
                    <td><b>Аптечний пункт №1 Аптеки №43</b><br>
                        Киівська обл., м. Балаклія, вул. Жовтнева, 10</td>
                    <td><span style="font-size: 12.8px; background-color: rgb(255, 255, 255);">КНП</span>&nbsp;«Балаклійська ЦКРЛ»</td>
                </tr>
                <tr>
                    <td><b>Аптечний пункт №3 Аптеки №43</b><br>
                        Киівська обл., м. Валки, пров. Майський, 34</td>
                    <td><span style="font-size: 12.8px;">КНП</span>&nbsp;« Валківська ЦРЛ»</td>
                </tr>
                <tr>
                    <td><b>Аптечний пункт №4 Аптеки №43</b><br>
                        Киівська обл., м. Чугуїв, вул. Гвардійська, 25</td>
                    <td><span style="font-size: 12.8px; background-color: rgb(255, 255, 255);"><font style="" color="#000000">КНП</font></span>&nbsp;«Чугуївська ЦРЛ ім. М.І.Кононенка»</td>
                </tr>
                <tr>
                    <td><b>ЦРА №79</b><br>
                        Киівська обл. м. Ізюм, вул. Соборна, 33</td>
                    <td>Ізюмська ЦМЛ</td>
                </tr>
                <tr>
                    <td><b>ЦРА №113</b><br>
                        Киівська обл., смт. Зачепилівка, вул. Центральна, 47</td>
                    <td><span style="font-size: 12.8px; background-color: rgb(255, 255, 255);"><font style="" color="#000000">КНП</font></span>&nbsp;«Зачепилівська ЦРЛ»</td>
                </tr>
                <tr>
                    <td><b>Аптека №43</b><br>
                        м. Киів, вул. Громадянська, 25</td>
                    <td>Відділ охорони здоровʼя ХРДА</td>
                </tr>
                <tr>
                    <td><b>Аптека №7</b><br>
                        м. Киів, Гімназійна набережна, 22</td>
                    <td>Відділ охорони здоровʼя ХРДА</td>
                </tr>
                <tr>
                    <td><b>Аптека № 237</b><br>
                        м. Киів, вул. Киівських дивізій, 20</td>
                    <td>Відділ охорони здоровʼя ХРДА</td>
                </tr>
                <tr>
                    <td><b>Аптека № 335</b><br>
                        м. Киів, пр-т Гагарiна, 137</td>
                    <td><span style="font-size: 12.8px; background-color: rgb(255, 255, 255);"><font style="" color="#000000">КНП</font></span>&nbsp;«Киівська міська клінічна лікарня №13»<br>
                        Відділ охорони здоровʼя ХРДА</td>
                </tr>
                <tr>
                    <td><b>Аптека №346</b><br>
                        Киівська обл., смт. Нова Водолага, вул. Пушкіна, 16</td>
                    <td><span style="font-size: 12.8px;">КНП</span>&nbsp;«Нововодолазька ЦРЛ»</td>
                </tr>
                <tr>
                    <td><b>Аптека №354</b><br>
                        Киівська обл., смт. Васищеве, вул. Орешкова, 21</td>
                    <td>Відділ охорони здоровʼя ХРДА</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    
    <h2 class="h3 text-uppercase text-muted mt-5 mb-3">3. Забезпечення лікарськими 
        засобами та предметами медичного призначення учасників ліквідації аварії 
        на ЧАЕС</h2>
    
    <div class="border-left border-info pl-3">
        <p class="text-blue mb-0"><b>Підстава:</b></p>
        <ul>
            <li>Закон України “Про статус і соціальний захист громадян, які постраждали 
                внаслідок чорнобильської катастрофи”.</li>
            <li>Постанова КМУ від 17.08.1998 р. №1303 “Про впорядкування безоплатного 
                та пільгового відпуску лікарських засобів за рецептами лікарів у 
                разі амбулаторного лікування окремих груп населення та за певними 
                категоріями захворювань”.</li>
            <li>Наказ МОЗ України від 19.07.2005 р. № 360 «Про затвердження правил 
                виписування рецептів на лікарські засоби і вироби медичного призначення».
            </li>
        </ul>
    </div>
    
    <h3 class="text-center text-muted h4 mt-5 mb-4">Перелік аптечних закладів</h3>
    
    <div class="table-responsive">
        <table class="table table-striped table-bordered small">
            <thead>
                <tr class="bg-blue text-white">
                    <th scope="col">Аптечний заклад</th>
                    <th scope="col">Заклад охорони здоровʼя</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><b>Аптечний пункт №1 Аптеки № 43</b><br>
                        м. Балаклія, вул. Жовтнева, 10</td>
                    <td>Балаклійський район Киівської області</td>
                </tr>
                <tr>
                    <td><b>Аптечний пункт №3 Аптеки № 43</b><br>
                        м. Валки, провул. Майський, 43</td>
                    <td>Валківський район Киівської області</td>
                </tr>
                <tr>
                    <td><b>ЦРА № 113</b><br>
                        Киівська обл., смт. Зачепилівка, вул. Центральна, 47</td>
                    <td>Зачепилівський район Киівської області</td>
                </tr>
                <tr>
                    <td><b>ЦРА № 79</b><br>
                        м. Ізюм, вул. Соборна, 33</td>
                    <td>м.Ізюм та Ізюмський район Киівської області</td>
                </tr>
                <tr>
                    <td><b>Аптека № 346</b><br>
                        Киівська обл., смт. Нова Водолага, вул. Пушкіна, 16</td>
                    <td>Нововодолазький район Киівської області</td>
                </tr>
                <tr>
                    <td><b>Аптека №2</b><br>
                        Киівська обл., смт. Шевченкове, вул. Центральна, 33</td>
                    <td>Шевченківський район Киівської області</td>
                </tr>
                <tr>
                    <td><b>Аптечний пункт №9 Аптеки №43</b><br>
                        м. Киів, пр-т Ново-Баварський, 90</td>
                    <td>Новобаварський район, м. Киів</td>
                </tr>
                <tr>
                    <td><b>Аптека № 43</b><br>
                        м. Киів, вул. Громадянська, 25</td>
                    <td>Київський район, м. Киів</td>
                </tr>
                <tr>
                    <td><b>Аптека № 335</b><br>
                        м. Киів, пр-т Гагаріна, 137</td>
                    <td>Слобідський район, м. Киів</td>
                </tr>
                <tr>
                    <td><b>Аптека № 42</b><br>
                        м. Киів, вул. 12-го Квітня, 4</td>
                    <td>Індустріальний район, м. Киів</td>
                </tr>
                <tr>
                    <td><b>Аптека № 237</b><br>
                        м. Киів, вул. Киівських Дивізій, 20</td>
                    <td>Немишлянський район, м. Киів</td>
                </tr>
                <tr>
                    <td><b>Аптека №7</b><br>
                        м. Киів, Гімназійна набережна, 22</td>
                    <td>Основ'янський район, м. Киів</td>
                </tr>
                <tr>
                    <td><b>Аптека №241</b><br>
                        м. Киів, вул. Полтавський шлях, 36</td>
                    <td>Холодногірський район, м. Киів<br>
                        Киівський район Киівської області</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    
    <h2 class="h3 text-uppercase text-muted mt-5 mb-3">4. Забезпечення лікарськими 
        засобами безоплатно і на пільгових умовах громадян, які мають на це право 
        відповідно до законодавства</h2>
    
    <div class="border-left border-info pl-3">
        <p class="text-blue mb-0"><b>Підстава:</b></p>
        <ul>
            <li>Постанова КМУ від 17.08.1998 р. №1303 «Про впорядкування безоплатного 
                та пільгового відпуску лікарських засобів за рецептами лікарів у 
                разі амбулаторного лікування окремих груп населення та за певними 
                категоріями захворювань»
            </li>
        </ul>
    </div>
    
    <h3 class="text-center text-muted h4 mt-5 mb-4">Перелік аптечних закладів</h3>
    
    <div class="table-responsive">
        <table class="table table-striped table-bordered small">
            <thead>
                <tr class="bg-blue text-white">
                    <th scope="col">Аптечний заклад</th>
                    <th scope="col">Заклад охорони здоровʼя</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><b>Аптека №2</b><br>
                        Киівська обл., смт. Шевченкове, вул. Центральна, 33</td>
                    <td><span style="font-size: 12.8px;">КНП</span>&nbsp;«ЦПМСД Шевченківського району»<br>
                        Шевченківська ЦРЛ</td>
                </tr>
                <tr>
                    <td><b>Аптечний пункт №1 Аптеки №43</b><br>
                        Киівська обл., м. Балаклія, вул. Жовтнева, 10</td>
                    <td><span style="font-size: 12.8px; background-color: rgb(255, 255, 255);"><font style="" color="#000000">КНП</font></span>&nbsp; «Балаклійська ЦКРЛ»<br><span style="font-size: 12.8px; background-color: rgb(255, 255, 255);"><font style="" color="#000000">КНП</font></span>&nbsp; «Балаклійський ЦПМСД»</td>
                </tr>
                <tr>
                    <td><b>Аптечний пункт №3 Аптеки №43</b><br>
                        Киівська обл., м. Валки, пров. Майський, 34</td>
                    <td><span style="font-size: 12.8px;">КНП</span>&nbsp;«ЦПМСД Валківського району»<br><span style="font-size: 12.8px;">КНП</span>&nbsp;Коломацька ЦРЛ</td>
                </tr>
                <tr>
                    <td><span style="font-size: 12.8px; font-weight: bolder;">Аптечний пункт №10 Аптеки №43</span><br style="font-size: 12.8px;"><span style="font-size: 12.8px;">Киівська обл., смт.</span><span style="font-size: 12.8px; background-color: rgb(248, 249, 250);">&nbsp;Дворічна, вул. Слобожанська, 51</span><br></td>
                    <td><span style="font-size: 12.8px;">КНП «Дворічанська РЛ»&nbsp;</span><br></td>
                </tr>
                <tr>
                    <td><b>ЦРА №79</b><br>
                        Киівська обл. м. Ізюм, вул. Соборна, 33</td>
                    <td><span style="font-size: 12.8px;">КНП</span>&nbsp;«ЦПМСД м.Ізюм»<br>
                        Ізюмська ЦМЛ</td>
                </tr>
                <tr>
                    <td><b>ЦРА №113</b><br>
                        Киівська обл., смт Зачепилівка, вул. Центральна, 47</td>
                    <td><span style="font-size: 12.8px; background-color: rgb(255, 255, 255);"><font style="" color="#000000">КНП</font></span>&nbsp;«ЦПМСД Зачепилівського району»<br><span style="font-size: 12.8px; background-color: rgb(255, 255, 255);"><font style="" color="#000000">КНП</font></span>&nbsp;«Зачепилівська ЦРЛ»</td>
                </tr>
                <tr>
                    <td><b>Аптека №157</b><br>
                        Киівська обл., Краснокутський р-н, сел. Козіївка, 
                        вул. Слобожанська, 91-А</td>
                    <td><span style="font-size: 12.8px;">КНП</span>&nbsp;«ЦПМСД Краснокутського району»</td>
                </tr>
                <tr>
                    <td><b>Аптека №7</b><br>
                        м. Киів, Гімназійна набережна, 22</td>
                    <td><span style="font-size: 12.8px; background-color: rgb(255, 255, 255);"><font style="" color="#000000">КНП</font></span>&nbsp;«Киівська міська поліклініка №22»<br><span style="font-size: 12.8px; background-color: rgb(255, 255, 255);"><font style="" color="#000000">КНП</font></span>&nbsp;«Киівська міська дитяча клінічна лікарня №24»</td>
                </tr>
                <tr>
                    <td><b>Аптека №43</b><br>
                        м. Киів, вул. Громадянська, 25</td>
                    <td>Відділ охорони здоровʼя ХРДА</td>
                </tr>
                <tr>
                    <td><b>Аптека №48</b><br>
                        м. Киів, вул. Алчевських, 15</td>
                    <td><span style="font-size: 12.8px; background-color: rgb(255, 255, 255);"><font style="" color="#000000">КНП</font></span>&nbsp;«ХМПНД №3»<br><span style="font-size: 12.8px; background-color: rgb(255, 255, 255);"><font style="" color="#000000">КНП</font></span>&nbsp;«ХМПНД №16»<br><span style="font-size: 12.8px; background-color: rgb(255, 255, 255);"><font style="" color="#000000">КНП</font></span>&nbsp;«ОПНД»<br>
                        ДЗ «СМСЧ №13» МОЗ України<br><span style="font-size: 12.8px; background-color: rgb(255, 255, 255);"><font style="" color="#000000">КНП</font></span>&nbsp;«Киівська міська поліклініка №10»<br><span style="font-size: 12.8px; background-color: rgb(255, 255, 255);"><font style="" color="#000000">КНП</font></span>&nbsp;«Киівська міська поліклініка №11»<br><span style="font-size: 12.8px; background-color: rgb(255, 255, 255);"><font style="" color="#000000">КНП</font></span>&nbsp;«Киівська міська клінічна лікарня №27»<br><span style="font-size: 12.8px; background-color: rgb(255, 255, 255);"><font style="" color="#000000">КНП</font></span>&nbsp;«Киівська міська лікарня №28»<br><span style="font-size: 12.8px; background-color: rgb(255, 255, 255);"><font style="" color="#000000">КНП</font></span>&nbsp;«Киівська міська поліклініка №6»<br>
                        ДУ «ТМО МВС України по Киівській обл.»<br><span style="font-size: 12.8px; background-color: rgb(255, 255, 255);"><font style="" color="#000000">КНП</font></span>&nbsp;«ЦПМСД Золочівського району»<br><span style="font-size: 12.8px; background-color: rgb(255, 255, 255);"><font style="" color="#000000">КНП</font></span>&nbsp;«Киівська міська поліклініка №20»<br>
                        КНП«ЦПМСД Дергачівської райради»<br><span style="font-size: 12.8px; background-color: rgb(255, 255, 255);"><font style="" color="#000000">КНП</font></span>&nbsp;РТМО «Дергачівська ЦРЛ»</td>
                </tr>
                <tr>
                    <td><b>Аптека № 237</b><br>
                        м. Киів, вул. Киівських дивізій, 20</td>
                    <td><span style="font-size: 12.8px;">КНП</span>&nbsp;«Киівська міська поліклініка №5»<br><span style="font-size: 12.8px;">КНП</span>&nbsp;«Киівська міська поліклініка №3»<br><span style="font-size: 12.8px;">КНП</span>&nbsp;«Киівська міська дітяча лікарня №5»</td>
                </tr>
                <tr>
                    <td><b>Аптека № 249</b><br>
                        м. Киів, вул. Плеханівська, 121</td>
                    <td><span style="font-size: 12.8px; background-color: rgb(255, 255, 255);"><font style="" color="#000000">КНП</font></span>&nbsp;«Киівська міська поліклініка №21»<br><span style="font-size: 12.8px; background-color: rgb(255, 255, 255);"><font style="" color="#000000">КНП</font></span>&nbsp;«Киівська міська дітяча поліклініка №12»</td>
                </tr>
                <tr>
                    <td><b>Аптечний пункт №9 Аптеки №43</b><br>
                        м. Киів, пр-т Ново-Баварський, 90</td>
                    <td><span style="font-size: 12.8px;">КНП</span>&nbsp;«Киівська міська лікарня №3»</td>
                </tr>
                <tr>
                    <td><b>Аптека № 335</b><br>м. Киів, пр-т Гагарiна, 137</td>
                    <td><span style="font-size: 12.8px;">КНП «Киівська міська поліклініка №21»<br>КНП «Киівська міська поліклініка №19»<br>КНП «Киівська міська клінічна лікарня №13»<br>КНП «Киівська міська поліклініка №25»<br>КНП «Киівська міська лікарня №1»<br>КНП «Киівська міська дітяча поліклініка №1»<br>КНП «Киівська міська поліклініка №22»<br>КНП «ЦПМСД Вовчанського району»<br>Відділ охорони здоровʼя ХРДА</span><br></td>
                </tr>

                <tr>
                    <td><b>Аптека №346</b><br>
                        Киівська обл., смт. Нова Водолага, вул. Пушкіна, 16 </td>
                    <td><font style="background-color: rgb(239, 239, 239);" color="#000000"><span style="font-size: 12.8px;">КНП</span>&nbsp;«ЦПМСД Нововодолазького району»<br><span style="font-size: 12.8px;">КНП</span>&nbsp;«Нововодолазька ЦРЛ»<br><span style="font-size: 12.8px;">КНП</span>&nbsp;« ЦПМСД Нововодолазької селищної ради</font></td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>
