<div class="container pt-2 pb-5">
    
    <div class="row">
        <div class="col-md-6 mt-4">
            <div class="media">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#73b3d7" class="bi bi-award-fill mr-3" viewBox="0 0 16 16">
                    <path d="m8 0 1.669.864 1.858.282.842 1.68 1.337 1.32L13.4 6l.306 1.854-1.337 1.32-.842 1.68-1.858.282L8 12l-1.669-.864-1.858-.282-.842-1.68-1.337-1.32L2.6 6l-.306-1.854 1.337-1.32.842-1.68L6.331.864 8 0z"></path>
                    <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"></path>
                </svg>
                <div class="media-body">
                    Обласний аптечний склад був створений в 1970году. Сьогодні це 
                    одна з найбільших аптечних мереж Харкова (більше 30 аптек), яка 
                    має багаторічний досвід роботи і висококваліфікований персонал. Ми надаємо широкі можливості для поліпшення якості життя та підвищення життєвої активності для пацієнтів з хронічними і невиліковними захворюваннями та наслідками травм. <br></div>
            </div>
        </div>
        <div class="col-md-6 mt-4">
            <div class="media">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#73b3d7" class="bi bi-award-fill mr-3" viewBox="0 0 16 16">
                    <path d="m8 0 1.669.864 1.858.282.842 1.68 1.337 1.32L13.4 6l.306 1.854-1.337 1.32-.842 1.68-1.858.282L8 12l-1.669-.864-1.858-.282-.842-1.68-1.337-1.32L2.6 6l-.306-1.854 1.337-1.32.842-1.68L6.331.864 8 0z"></path>
                    <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"></path>
                </svg>
                <div class="media-body">
                    Наше підприємство працює тільки з офіційними постачальниками 
                    і виробниками, маючи всі необхідні сертифікати якості та 
                    реєстрацію на весь асортимент товару, наданий в аптеках. Фахівці 
                    підприємства регулярно контролюють терміни придатності і 
                    правильне зберігання препаратів.
                </div>
            </div>
        </div>
    </div>
    
    <h2 class="h3 text-blue text-uppercase mt-5 mb-3">Список наших вакансій по Харкову і області</h2>
    
    <p class="border-left border-info pl-3 mb-4 lead text-muted">З питань поточних вакансій і працевлаштування в нашу компанію <b>телефонуйте за номером&nbsp;</b><a href="tel:0674770057" target="_blank" style="text-decoration-line: underline; background-color: rgb(255, 255, 255);">(067) 477-00-57</a>.</p>
    
    <hr>
        
    <h3>Провізор / фармацевт в Харкові</h3>
    <p>Заробітна плата, графік роботи обумовлюються на співбесіді. Контактний 
        телефон: <a href="tel:0674770057">(067) 477-00-57</a>.</p>
    
    <p><b>Основні вимоги</b></p>
    <ul>
        <li>фармацевтична освіта;</li>
        <li>досвід роботи за ПЕРШИМ столом не менше 1 року;</li>
        <li>відповідальність;</li>
        <li>уважність;</li>
        <li>комунікабельність.</li>
    </ul>
                
    <p><b>Основні обов'язки:</b></p>
    <ul>
        <li>консультування з асортименту аптеки;</li>
        <li>продаж лікарських препаратів;</li>
        <li>ведення касової дисципліни;</li>
        <li>перевірка термінів придатності.</li>
    </ul>
    
    <p><b>Умови роботи:</b></p>
    <ul>
        <li>офіційне оформлення;</li>
        <li>соцпакет.</li>
    </ul>
                
</div>
